$lightGray: #F5F4F2;
$grayText: #706C64;
$thinBorder: 1px solid rgb(220,220,220, .75);
$red: #FF424D;

.themes {
  width: 80%;
  min-height: 500px;
  border: $thinBorder;
  border-radius: 4px;
  margin: 5vh 10%;
  font-family: sans-serif;
  padding: 0px 0px;
}

.head {
  background-color: $lightGray;
  margin: 0px 0px;
  height: 45vh;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 300px;
}

.head h1 {
  margin-top: 8vh;
  margin-left: 5vw;
  font-size: 1.5rem;
}

.head p {
  margin-top: 4vh;
  margin-left: 5vw;
  width: 70%;
}
.themes button {
  margin-top: 5vh;
  color: white;
  background-color: $red;
  border: none;
  outline: none;
  margin-left: 5vw;
  width: 80%;
  height: 6vh;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}



.themes button:hover {
  background-color: #fa333d;

}


.tiers {
  width: 100%;
  height: 60vh;
  min-height: 500px;
}

.tiers h1 {
  margin-top: 8vh;
  margin-left: 5vw;
  font-size: 1.3rem;
}

.tiers h3 {
  margin-left: 5vw;
  font-size: 1rem;
  font-weight: 300;
  color: $grayText;
}

.boxHolder {
  margin: 0 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.tierBox {
  border: $thinBorder;
  width: 22vw;
  height: 42vh;
  box-shadow: 0 0 20px rgb(202, 202, 202);
  border-radius: 4px;

}

.tierBox img {
  margin: 8% 10%;
  margin-bottom: 5%;
  width: 80%;
  height: 30%;
}

.tierBox h1 {
  margin-top: 0;
  font-size: 1rem;
  margin-left: 2vw;
}

.tierBox p {
  font-size: .7rem;
  font-weight: 600;
  margin-left: 2vw;
}

.includesList {
  margin-top: 5%;
}

.includes {
  background-color: $lightGray;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2% 2%;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 5%;
}

.benefits {
  padding-top: 5vh;
  background-color: $lightGray;
  height: 50vh;
  min-height: 300px;
}

.benefits h1 {
  margin-left: 5vw;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.benefits h3 {
  margin-top: 1vh;
  margin-left: 5vw;
  font-size: 1rem;
  font-weight: 300;
  color: $grayText;
}

.benefitsList {
  margin-top: 2vh;
  display: flex;
  justify-content: left;
  margin-left: 5vw;
}

.benefitsBox {
  background-color: white;
  width: 16vw;
  min-width: 200px;
  height: 25vh;
  min-height: 250px;
  margin-right: 2%;
  border: 1px solid $lightGray;
  border-radius: 4px;
  border: $thinBorder;
}

.benefitsBox img {
  margin-left: 10%;
  margin-top: 20%;
  width: 50px;
  height: 50px;
  border: $thinBorder;
}

.benefitsBox h3 {
  margin-left: 10%;
  font-weight: 600;
  color: black;
  font-size: .9rem;
}

.benefitsBox p {
  margin-top: 8%;
  color: $grayText;
  font-size: .9rem;
  font-weight: 300;
  margin-left: 10%;
  margin-right: 10%;
}

.creators {
  height: 50vh;
  min-height: 300px;
}
.creators h1 {
  margin-top: 10vh;
  margin-left: 5vw;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.creatorList {
  display: flex;
  justify-content: space-between;
  margin: 3vh 5vw;
}

.creatorBox {
  width: 30%;
  height: 25vh;
  border: $thinBorder;
  align-content: center;
  border-radius: 4pxs;
}

.topImage {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: $lightGray;
}

.circleImage {
  margin-top: 5vh;
  width: 75px;
  height: 75px;
  border: 5px solid white;
  background-color: $red;
  border-radius: 75px;
}

.creatorBox h1 {
  margin-top: 6vh;
  margin-left: 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.creatorBox p {
  margin: 1vh 0;
  text-align: center;
  color: $grayText;
}

.footer {
  height: 50vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer h1 {
  font-size: 1.5rem;
}

.footer p {
  margin-right: 5vw;
}

.footer button {
  width: 25%;
  margin-left: 0;
}